/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 767.98px) {
    .gallery h1{
        font-size: 21px;
    }
    .gallery h5{
        font-size:14px;
    }
    .gallery p{
        font-size:13px;
    }
    .banner_text h1{
        font-size: 21px;
    }
    .banner_text h5{
        font-size:14px;
    }
    .banner_text p{
        font-size:13px;
    }
.single_profile{
    margin:0 0;
    margin-bottom:15%;
    transition:0.5s;
}
        .gallery{
    margin:0 0;
    margin-top:2.5%;
}
    form input{
    width:90%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    padding-top:1.5%;
    font-size: 14px;
    background-color: #f0f0f0;
}
    form label{
    font-size: 24px;
    padding-bottom:3%;
}
    form img{
    position: absolute;
    bottom:12px;
    right:5%;
}
    .foot_1{
        padding:0 25%;
    }
    .foot_2{
        padding:0 25%;
    }
    .privacy{
        padding:0 30%;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
.gallery{
    margin:0 10%;
    margin-top:2.5%;
}
.single_profile{
    margin:0 2%;
    margin-bottom:15%;
    transition:0.5s;
}
    .gallery h1{
        font-size: 19px;
    }
    .banner_text h1{
        font-size: 26px;
    }
    .gallery p{
        font-size:12px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
   .gallery{
    margin:0 9%;
    margin-top:2.5%;
}
    .gallery h1{
        font-size: 25px;
    }
    .banner_text h1{
        font-size: 25px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
